
.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    /* float 요소는 블록 요소를 인라인 요소로 변경해주는 속성을 가지고 있다.
        그런데 사용 시 주의점이 있다. 적용하고자 하는 부분에 float가  잘 적용되었다면,
        반드시 다음 줄에서는 float 속성을 해제하여야 한다. 그렇지 않으면 자동으로
        float: left 속성이 입혀진 채로 움직인다.
        float 속성 해제 방법은 다음 태그에서 clear : both 를 해주면 된다. */
    
}

/* .box-2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    clear: both;
     이렇게 해주면 다음 줄에 네모 박스가 잘 위치하는 걸 볼 수 있다! 
        만약 박스에 부모 태그가 존재한다면, 부모 태그에 overflow:hidden 혹은
        display:inline-block 지정하면 된다. (근데 얘 지정하면 상위 요소랑 조금 떨어지게 됨.)
        
    
} */

/* .box-parent{
    display:inline-block
} */